<!doctype html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">

    <title>{% block title %}{% endblock %} &mdash; Guilt</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

    <style>
      .logo {
        text-align: center;
        text-transform: uppercase;
      }

      .logo a {
        color: #000;
        font-weight: 500;
      }

      .logo a:hover {
        text-decoration: none;
      }

      .container {
        padding: 1em;
      }

      .icon {
        position: relative;
        margin-top: 2px;
        margin-bottom: -2px;
        width: 16px;
        height: 16px;
      }
    </style>
  </head>
  <body>
    <header class="logo container">
      <h1 class="display-3"><a href="/">Guilt</a></h1>
    </header>

    <div class="container">
      {% if messages %}
        {% for message in messages %}
          <div class="alert alert-primary alert-dismissible fade show" role="alert">
            {{ message }}

            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        {% endfor %}
      {% endif %}

      {% block content %}
      {% endblock %}
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
  </body>
</html>
